html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
address,
img,
i,
ol,
ul,
li,
fieldset,
form,
label,
article,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
footer,
header,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

/** end reset css**/
body {
    max-width: 1140px;
    margin: auto;
    font-family: "Work Sans";
    font-size: 14px;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

section {
    max-width:375px;
    margin: 50px 0;
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: "Syne";
    font-size: 22px;
    font-weight: 800;
    color: #b1663c;
}

h1>span {
    font-family: "Work Sans";
    font-size: 10px;
    letter-spacing: 0.1em;
}

h2 {
    font-family: "Syne";
    font-weight: 700;
    font-size: 30px;
    color: #1d6154;
    text-align: center;
    margin-bottom: 1em;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav li {
    padding: 0 10px;
    font-size: 1.2em;
}

li:hover {
    color: #b1663c;
}

a {
    text-decoration: none;
    color: #000000;
}

a:visited {
    color: #000000;
}

.form-txt {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #3D3D3D;
}

#login {
    margin: auto;
}

#login>* {
    text-align: center;
}

#login h2 {
    text-align: center;
    margin-bottom: 20px;
 
}

#login form {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 30px;
}

#login label {
    margin: 2em 0 1em 0;
}

#login a {
    text-align: center;
    margin: 0.1em 0 1em 0;
    text-decoration-line: underline;
}

#login input {
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="email"],
input[type="password"] {
    margin: 7px 0 0 0;
    height: 50px;
}

input[type="submit"] {
    font-family: "Syne";
    font-weight: 700;
    color: white;
    background-color: #1d6154;
    margin: 2em auto;
    max-width: 180px;  
    height: 35px;
    text-align: center;
    border-radius: 60px;
}

.alert {
    padding: 10px;
    margin-bottom: 10px;
}

.alert-danger {
    background-color: #f8d7da;
    color: hsl(354, 95%, 49%);
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

footer nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 30px 0 0 0 ;
}


/******* media 768px ********/
@media screen and (max-width: 768px) {
    header {
        margin: 30px 20px;
    }

    footer nav ul {
        margin: 1em;
    }
}

/********* media 480px ******/
@media screen and (max-width: 480px) {
    header {
        display: flex;
        flex-direction: column;
        margin: 10px 10px;
    }
    #login {
       margin: 0 25px;
       
    }

    header h1 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    nav ul {
        padding: 0 10px 0 0;
    }

    nav li {
        padding: 0 10px 0 0;
    }  

    footer nav ul {
        margin: 1em 0 0 0;
    }
}

